In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from word2number import w2n

In [2]:
df=pd.read_csv('hiring.csv')

In [3]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
df.isna()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        True                  False                       False      False
1        True                  False                       False      False
2       False                  False                       False      False
3       False                  False                       False      False
4       False                  False                       False      False
5       False                  False                       False      False
6       False                   True                       False      False
7       False                  False                       False      False

In [5]:
df['experience']=df['experience'].fillna('two')

In [6]:
df['test_score(out of 10)'].min()

6.0

In [7]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(6.0)

In [8]:
salary=df['salary($)']

In [9]:
df['experience']=df['experience'].apply(w2n.word_to_num)

In [10]:
data=df.drop('salary($)',axis=1)

In [11]:
model=LinearRegression()

In [12]:
model.fit(data,salary)

LinearRegression()

In [13]:
model.score(data,salary)

0.9163247404598344

In [19]:
model.predict([[3,7,6]])

array([48495.7100858])