In [134]:
from sklearn.datasets import load_iris
import pandas as pd

In [153]:
iris_data=load_iris()

In [154]:
df=pd.DataFrame(iris_data.data,columns=iris_data.feature_names)

In [155]:
iris_data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [157]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [158]:
df['target']=iris_data.target

In [159]:
x=df.drop('target',axis=1)

In [162]:
y=df['target']

In [163]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [164]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [165]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)

In [166]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=20)

In [167]:
model.score(X_train,y_train)

1.0

In [168]:
model.score(X_test,y_test)

0.9

In [169]:
import joblib

In [170]:
joblib.dump(model,'model20')

['model20']

In [171]:
from sklearn import preprocessing

In [172]:
dff=df.drop('target',axis=1)

In [173]:
normalized=preprocessing.normalize(dff)

In [174]:
data=pd.DataFrame(normalized)

In [175]:
data

            0         1         2         3
0    0.803773  0.551609  0.220644  0.031521
1    0.828133  0.507020  0.236609  0.033801
2    0.805333  0.548312  0.222752  0.034269
3    0.800030  0.539151  0.260879  0.034784
4    0.790965  0.569495  0.221470  0.031639
..        ...       ...       ...       ...
145  0.721557  0.323085  0.560015  0.247699
146  0.729654  0.289545  0.579090  0.220054
147  0.716539  0.330710  0.573231  0.220474
148  0.674671  0.369981  0.587616  0.250281
149  0.690259  0.350979  0.596665  0.210588

[150 rows x 4 columns]

In [176]:
x=data

In [177]:
y=df['target']

In [178]:
x

            0         1         2         3
0    0.803773  0.551609  0.220644  0.031521
1    0.828133  0.507020  0.236609  0.033801
2    0.805333  0.548312  0.222752  0.034269
3    0.800030  0.539151  0.260879  0.034784
4    0.790965  0.569495  0.221470  0.031639
..        ...       ...       ...       ...
145  0.721557  0.323085  0.560015  0.247699
146  0.729654  0.289545  0.579090  0.220054
147  0.716539  0.330710  0.573231  0.220474
148  0.674671  0.369981  0.587616  0.250281
149  0.690259  0.350979  0.596665  0.210588

[150 rows x 4 columns]

In [179]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [180]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [181]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=20)

In [182]:
model.score(X_train,y_train)

0.9916666666666667

In [183]:
model.score(X_test,y_test)

1.0